.typical-products-item:not(:last-child) {
    margin-bottom: 24px;
}
.typical-products-item {
    transition: all 0.2s linear;
    cursor: pointer;
}
.typical-products-item:hover {
    transform: translateY(-6px);
}
.typical-products-item:hover .typical-products-item-title h6 {
    color: var(--primary-color);
    
}
.typical-products-img img {
    width: 100%;
    border-radius: 8px;
}
.typical-products-item-title h6 {
    font-size: 16px;
    overflow: hidden;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    font-weight: 600;
}
.typical-products-item-price {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 700;
    margin-top: 20px;
}
