.title-page h3 {
    font-size: 30px;
}
.shipping-address-wrap {
    margin: 30px 0;
}
.shipping-address-title{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    display: flex;
}
.shipping-address{
    display: flex;
}
.address{
    padding-left: 20px;
}
.checkbox-select-all-option {
    width: 140px;
    margin: 0 16px;
}
.quantity-product-checkout {
    padding: 2px 0;
    margin: 0;
}
.change-quantity-product {
    padding: 4px 10px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.change-quantity-product:hover {
    cursor: pointer;
}
.price-total-order {
    margin-left: 6px;
    color: rgba(0, 186, 131, 1);
    font-weight: 700;
    font-size: 18px;
}

.buy-button {
    margin-top: 16px;
}

.payment-method-title {
    color: #202529;
    font-weight: 600;
    font-size: 16px;
}

.payment-area {
    display: flex;
    justify-content: space-between;
}
.later_money label,
.paypal label {
    margin-left: 4px;
}

.buy-button,
.total-payment {
    display: flex;
    justify-content: flex-end;
}

.auth-form__header {
    display: flex;
    flex-direction: column;
}
.auth-form__switch-btn {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding-top: 10px;
}
.auth-form__form {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.auth-form {
    width: 560px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;
}
// .address-list-wrap{
//     margin-top: 20px;
// }
.address-item-wrap, .address-item{
    display: flex;
}
.address-item-wrap{
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee;
}
.input-check-address{
    padding-right: 12px;
}
.btn-add-address{
    margin-top: 20px;
    padding: 6px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border: 1px solid #eeeeee;
}
.icon-add-address{
    width: 16px;
    height: 16px;
    fill: rgba(0,0,0,.54);
    margin-right: 8px;
}
.address-item{
    width: 100%;
}