.cate-purchase {
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0px -2px 10px rgb(0 0 0 / 10%);
    margin-bottom: 30px;
}

.item-link {
    padding: 16px 0;
    width: 14.28%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #e8e8e8;
}

.item-link span{
    font-weight: 600;
    transition: all .3s linear;
}

.item-link:hover span{
    color: var(--primary-color);
    cursor: pointer;
}

.item-link span {
    color: var(--text-color);
}

.active{
    border-bottom: 2px solid var(--primary-color);
}
.active span{
    color: var(--primary-color);
}
.order-detail-wrap {
    margin: 16px 0;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 15%);
}
.order-detail {
    padding: 24px 24px 12px 24px;
}
.order-state {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
    border-bottom: 1px solid #e8e8e8;
}
.order-state span{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
}
.product-detail {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}
.product-detail-left {
    width: 90%;
    display: flex;
    padding-right: 10px;
}
.title-product-wrap {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    width: 100%;
}
.img-product img {
    border-radius: 4px;
    border: 1px solid #e8e8e8;
}
.price-total-wrap {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-line {
    width: 100%;
    height: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
.order-total {
    display: flex;
    justify-content: flex-end;
    padding: 24px 24px 12px;
    align-items: center;
}
.order-total p {
    padding-left: 10px;
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 700;
}
.title-page {
    margin-bottom: 40px;
}

.title-page h3 {
    font-size: 30px;
}
.checkbox-select-all-option {
    width: 140px;
    margin: 0 16px;
}
.quantity-product-checkout {
    padding: 2px 0;
    margin: 0;
}
.change-quantity-product {
    padding: 4px 10px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.change-quantity-product:hover {
    cursor: pointer;
}
.price-total-order {
    margin-left: 6px;
}

.buy-button {
    margin-top: 16px;
}

.payment-method-title {
    color: #202529;
    font-weight: 600;
    font-size: 16px;
}

.payment-area {
    display: flex;
    justify-content: space-between;
}
.later_money label,
.paypal label {
    margin-left: 4px;
}

.buy-button,
.total-payment {
    display: flex;
    justify-content: flex-end;
}

.auth-form__header {
    display: flex;
    flex-direction: column;
}
.auth-form__switch-btn {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding-top: 10px;
}
.auth-form__form {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
