.product-description-wrap {
    margin-bottom: 30px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.product-description {
    display: flex;
    width: 91.6666666667%;
}
.m-auto {
    margin: 0 auto;
}
.pd-0-20 {
    padding: 0 20px;
}

.list-product-2 {
    display: none;
}
.remove-product {
    display: none;
}
.show-products {
    display: block;
}
.product-description-img {
    padding: 0 20px;
}
.product-description-img img {
    width: 450px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
}
.detailed-info {
    padding: 0 50px;
    font-family: var(--font-family-quicksand);
}
.stock-status.btn-sale-off {
    color: #f74b81;
    background: #fde0e9;
}
.btn-sale-off {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
}
.title-detail {
    font-size: 32px;
    color: var(--text-color);
}
.product-detail-rating {
    display: flex;
    padding: 15px 0;
}
.product-detail-rating .reviews {
    margin-left: 8px;
    color: #b6b6b6;
}
.product-detail-rating i {
    color: #ffbd3a;
}
.product-price {
    margin: 15px 0 30px 0;
}
.current-price {
    font-size: 60px;
    font-weight: 700;
    color: var(--primary-color);
}
.old-price {
    margin-left: 20px;
    text-decoration: line-through;
    color: #b6b6b6;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 12px;
}

.short-desc {
    margin-bottom: 30px;
}
.short-desc p {
    color: var(--text-color);
    font-size: 16px;
}

.quantity-product-wrap {
    display: flex;
    margin-bottom: 20px;
}
.quantity-product-wrap .quantity-product-title {
    margin-right: 40px;
}
.product-quantity-show {
    margin: 0 8px;
    padding: 2px 0;
    width: 20%;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    text-align: center;
}
.checkbox-select-all-option {
    width: 140px;
    margin: 0 16px;
}
.quantity-product {
    width: 20%;
    text-align: center;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    padding: 4px 0;
}
.change-quantity-product {
    padding: 4px 10px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.change-quantity-product:hover {
    cursor: pointer;
}
.btn-add-cart button, .btn-buy-now button {
    font-weight: 700;
    border: none;
    padding: 25px 30px;
}
.btn-buy-now button:hover {
    background-color: var(--primary-color-hover);
    color: #fff;
    // transition: 0.2s;
}
.btn-add-cart button:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.btn-add-cart button{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.btn-buy-now button{
    color: #fff;
    background-color: var(--primary-color);
}
.btn-wrap{
    display: flex;
}
.btn-buy-now{
    margin-left: 12px;
}
.icon-cart-mr-8 {
    margin-right: 8px;
}


.description-long-wrap {
    width: 90.666666666667%;
    display: flex;
    margin-top: 40px;
    font-family: var(--font-family-quicksand);
}
.description-long {
    margin: 0 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 40px 50px;
}
.description-categori {
    margin-bottom: 20px;
    padding: 12px 25px;
    border: 1px solid #eeeeee;
    border-radius: 30px;
    display: inline-block;
    font-size: 18px;
    color: var(--primary-color);
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    cursor: pointer;
    transition: 0.5s;
}
.description-categori:hover {
    transform: translateY(-6px);
}
.description-text {
    font-size: 15px;
    margin-top: 30px;
    color: #777;
}
.description-text p {
    line-height: 20px;
    font-size: 15px;
}
.description-text p:not(:last-child) {
    margin-bottom: 14px;
}
.description-long ul {
    margin-top: 30px;
    padding-left: 18px;
    color: #e7a82a;
}
.product-more-infor {
    font-size: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}
.product-more-infor li {
    position: relative;
    display: flex;
}
.product-more-infor li:not(:last-child) {
    margin-bottom: 10px;
}
.product-more-infor li::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -16px;
    width: 6px;
    height: 6px;
    background-color: #9b9b9b;
    border-radius: 50%;
}
.product-more-infor span {
    flex: 0 0 165px;
}
.description-long-wrap{
    width: 91.666666666667%;
    display: flex;
    margin-top: 40px;
    font-family: var(--font-family-quicksand);
}
.description-long{
    margin: 0 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 40px 50px;
}
.description-categori{
    margin-bottom: 20px;
    padding: 12px 25px;
    border: 1px solid #eeeeee;
    border-radius: 30px;
    display: inline-block;
    font-size: 18px;
    color: var(--primary-color);
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    cursor: pointer;
    transition: .5s;
}
.description-categori:hover{
    transform: translateY(-6px);
}
.description-text{
    font-size: 15px;
    margin-top: 30px;
    color: #777;
}
.description-text p{
    line-height: 20px;
    font-size: 15px;
}
.description-text p:not(:last-child){
    margin-bottom: 14px;
}
.description-long ul{
    margin-top: 30px;
    padding-left: 18px;
    color: #e7a82a;
}
.product-more-infor{
    font-size: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}
.product-more-infor li{
    position: relative;
    display: flex;
}
.product-more-infor li:not(:last-child){
    margin-bottom: 10px;
}
.product-more-infor li::before{
    content: "";
    position: absolute;
    top: 4px;
    left: -16px;
    width: 6px;
    height: 6px;
    background-color: #9b9b9b;
    border-radius: 50%;
}
.product-more-infor span{
    flex: 0 0 165px;
}